body, h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.portfolio-container{
    background-color: #f1f1f1;
    margin-top: 16px;
}



/* page layout */


.left-page{
    width: 33%;
    float: left;
    padding: 0 8px;
    /* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); */
    /* border: 1px solid blue; */
    /* background-color: white; */
}

.profile-image{
    width: 100%;
    float: left;
}

.name{
    margin-top: .5em;
    width: 100%;
    float: left;
}

.skills-container{
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

}

.right-page{
    width: 60%;
    float: left;
    padding: 0 8px;
    /* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); */

    /* border: 1px solid red; */
}

.inner-container{
    float: left;
    padding: 0 20px;
}

footer {
    width: 100%;
    float: left;
    background-color: red;
}

/* inner right page */

.about-me {
    /* border: 1px solid black; */
    padding: 10px;
    width: 100%;
    float: left;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

}

.projects {
    width: 100%;
    float: left;
    /* border: 1px solid black; */
    margin-top: 1em;
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

    
}

.project-card{
    width: 100%;
    margin-top: 1em;;
}

.project-card{
    border: 1px solid black;
    width: 100%;
    float: left;
    
}

.project-image{
    float: left;
}

.project-text{
    float: left;
    padding: 10px;
}


/* skills*/

#progress {
    background: #333;
    /* border-radius: 13px; */
    height: 20px;
    width: 300px;
    padding: 3px;
}


#html-progress, #css-progress, #bootstrap-progress {
    background: #333;
    /* border-radius: 13px; */
    height: 20px;
    width: 300px;
    padding: 3px;
}

#html-progress:after{
    content: '';
    display: block;
    background-color: teal;
    width: 50%;
    height: 100%;
}

#css-progress:after{
    content: '';
    display: block;
    background-color: teal;
    width: 100%;
    height: 100%;
}